body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
  position: relative;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  color: #727272;
  font-weight: 600;
}
.profile-item.selected {
  color: black;
  font-weight: 1000;
}

.profile-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-item span {
  margin-top: 5px;
}

.my-page-button {
  font-size: 16px;
  padding: 5px 10px;
  color: black;
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.calendar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.react-calendar {
  border: none;
  border-radius: 10px;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.react-calendar__navigation button {
  color: black;
  min-width: 44px;
  background: none;
  font-size: 24px; /* Increased arrow size */
  margin: 5px;
  cursor: pointer;
}

.react-calendar__navigation__label {
  font-size: 20px; /* Increased label size */
  font-weight: bold;
  color: black;
}

.react-calendar__month-view__weekdays__weekday {
  text-align: center;
  font-weight: bold;
  color: rgb(70, 70, 70);
}

.react-calendar__month-view__weekdays__weekday abbr[title] {
  text-decoration: none;
}

.react-calendar__tile {
  background: none;
  text-align: center;
  align-items: center;
  font-size: 14px;
  border: none;
  cursor: pointer;
  position: relative;
  height: 10vh;
}

.react-calendar__tile--now {
  position: relative;
}

.react-calendar__tile--now::before {
  content: attr(data-date);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 14px;
}
.react-calendar__month-view__days__day {
  position: relative;
  align-items: flex-start;
  display: flex;
  padding: 5px;
  justify-content: center;
  color: #727272;
}

.react-calendar__tile--active {
  color: black;
  text-decoration: underline;
}

.react-calendar__tile--now:hover,
.react-calendar__tile--active:hover {
  background: rgb(206, 124, 138);
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #eee;
}

.sunday {
  color: rgb(238, 87, 60); /* Sunday text color */
}

.saturday {
  color: rgb(59, 59, 176); /* Saturday text color */
}

.selected-date {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  display: none; /* Hide the selected date text */
}

.check-page-link {
  text-align: center;
  font-size: 16px;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

/* 추가한 css */
.schedule-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 1px;
}

.schedule-dot.yellow {
  background-color: #fbe205;
}
.schedule-dot.pink {
  background-color: #ff6ba0;
}
.schedule-dot.purple {
  background-color: #ea6bff;
}
.schedule-dot.green {
  background-color: #88e48c;
}
.schedule-dot.blue {
  background-color: #80c5f7;
}

.red-dot {
  border-radius: 50%;
  background-color: red;
}

.tile-content {
  position: absolute;
  top: 25px;

  align-items: center;
}
